
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top nav-color">
  <a class="navbar-brand" href="#">
    <img class="company-logo" src="./assets/images/logo-3.jpeg"/>  
    
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <nav class="main_nav">
          <ul class="nav navbar-nav ">
            <li class="active"><a href="#">Women</a></li>
            <li><a href="#">Home & Decorations</a></li>
            <li><a href="#">New Arrival</a></li>
            
          </ul>
        </nav>
        <div class="header_search header_right d-flex flex-row align-items-center justify-content-start ml-auto">
            <form action="#" id="header_search_form">
              <input type="text" class="search_input" placeholder="Search Item" required="required">
              <!-- <button class="header_search_button"><img src="../../assets/images/search.png" alt=""></button> -->
            </form>
          </div>
    <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
			
				
				<!-- User -->
        <div class="user"><i class="fa fa-user fa-2x fa-color" aria-hidden="true"></i></div>
        <div class="cart"><i class="fa fa-shopping-cart fa-2x fa-color" aria-hidden="true"></i></div>
				
			</div>
  </div>  
</nav>

<div class="container-fluid" style="margin-top:80px">
  
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>