
<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top nav-color">
  <a class="navbar-brand" href="#">
    <img class="company-logo" src="../../assets/images/logo-2.jpeg"/>  
    
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <nav class="main_nav">
          <ul class="nav navbar-nav ">
            <li class="active"><a href="#">Women</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Home Deco</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <div class="header_search header_right d-flex flex-row align-items-center justify-content-start ml-auto">
            <form action="#" id="header_search_form">
              <input type="text" class="search_input" placeholder="Search Item" required="required">
              <!-- <button class="header_search_button"><img src="../../assets/images/search.png" alt=""></button> -->
            </form>
          </div>
    <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
				<!-- Search -->
				
				<!-- User -->
        <div class="user"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
        <div class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></div>
				<!-- Cart -->
				<!-- <div class="cart"><a href="cart.html"><div><img class="svg" src="images/cart.svg" alt="https://www.flaticon.com/authors/freepik"></div></a></div> -->
				<!-- Phone -->
				<!-- <div class="header_phone d-flex flex-row align-items-center justify-content-start">
					<div><div><img src="images/phone.svg" alt="https://www.flaticon.com/authors/freepik"></div></div>
					<div>+1 912-252-7350</div>
				</div> -->
			</div>
  </div>  
</nav>

<div class="container-fluid" style="margin-top:80px">
  
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>